.create-gnosis-safe {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;

    &:first-of-type {
      margin-top: 20px;
    }

    .input,
    .array-input {
      width: 100%;
      flex-wrap: wrap;

      &__validation {
        width: 100%;
      }

      input {
        margin-top: 10px;
        width: 100%;
      }
    }

    .array-input {
      &__option {
        margin-right: 0;
        width: 100%;
      }
    }
  }

  + .divider {
    margin-top: 0;
  }
}
