@import "../../../variables";

.create-dao-proposal {
  display: flex;
  flex-direction: column;

  label {
    margin-top: 20px;
  }

  .input {
    margin-top: 10px;

    input {
      width: 100%;
    }
  }

  .select {
    &__field {
      width: 100%;
      margin-top: 10px;

      .dropdown__content {
        width: 100%;
      }
    }
  }

  &__row {
    display: flex;
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:first-child {
      margin-right: 20px;
    }
  }

  > h2 {
    margin: 40px 0 20px 0;
  }

  .divider {
    margin: 40px 0;
  }

  &__submit-button {
    align-self: flex-start;
    margin-top: 20px;
  }

  &__note {
    margin: 20px 0 0 0;
    font-size: 12px;
  }

  &__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  &__add-button {
    align-self: flex-end;
  }

  .paper {
    padding: 20px;
    margin: 20px 0;
    position: relative;

    label {
      margin-top: 20px;
      display: block;
    }

    textarea {
      width: 100%;
      margin-top: 10px;
    }
  }
}
