@import "src/assets/styles/variables";

.learn-menu {
  width: 250px;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 40px;
  font-size: 14px;
  line-height: 18px;

  &__link-lv0 {
    margin: 5px 0;
    display: flex;
    align-items: center;

    a {
      color: $purple2;
    }
  }

  &__link-lv1 {
    color: $black;
    margin-left: 10px;
    line-height: 20px;
    font-weight: bold;
  }

  &__link-lv2 {
    color: $black;
    margin-left: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  &__expand {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: $black transparent transparent transparent;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: rotate(-90deg);

    &--expanded {
      transform: rotate(0deg);
    }
  }
}
