.deploy-usul-type-modal {
  display: flex;
  flex-direction: column;

  p {
    margin-top: 40px;
  }

  &__input {
    margin-top: 20px;

    .radio__label {
      margin-left: 15px;
    }

    &--select {
      label {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
