@import "src/assets/styles/variables";

.learn {
  display: flex;
  padding-bottom: 100px;

  &__articles {
    margin-left: 330px;
    max-width: 920px;

    h1 {
      font-size: 48px;
      line-height: 60px;
      margin: 90px 0 0 0;
    }

    h2 {
      font-size: 32px;
      line-height: 36px;
      margin: 10px 0 0 0;
    }

    h3 {
      font-size: 24px;
      line-height: 28px;
      margin: 20px 0 0 0;
    }

    p {
      margin: 20px 0;
    }

    a {
      color: $purple1;
    }
  }
}
