@import "src/assets/styles/variables";

.textarea {
  &__field {
    font-size: 16px;
    line-height: 20px;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid $dark-grey25;
    border-radius: 5px;

    &--bordered {
      border: 1px solid $dark-grey25;
    }

    &--bad {
      border-color: $error;
    }
  }

  &__validation {
    color: $error;
  }
}
