@import "src/variables";

.progress-bar {
  position: relative;
  height: 10px;
  border-radius: 5px;

  &__background {
    height: 10px;
    border-radius: 5px;

    &--green {
      background-color: $light-green;
    }

    &--red {
      background-color: $light-red;
    }

    &--grey {
      background-color: $dark-grey25;
    }
  }

  &__fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    border-radius: 5px;

    &--green {
      background-color: $success;
    }

    &--red {
      background-color: $error;
    }

    &--grey {
      background-color: $dark-grey75;
    }
  }
}
