@import "src/assets/styles/variables";

.radio {
  cursor: pointer;
  margin: 0;
  position: relative;
  align-self: center;

  &::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: absolute;
    background-color: white;
    content: '';
    display: inline-block;
    border: 2px solid $dark-grey25;
  }

  &:checked::after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 3px;
    left: 4px;
    position: absolute;
    background-color: $dark-grey;
    content: '';
    display: inline-block;
  }

  &__label {
    cursor: pointer;
    margin-left: 10px;
  }
}
