@import "src/variables";

.proposal {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 880px;

  &__header {
    width: 100%;

    &-title {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      height: 38px;
    }

    &-subtitle {
      margin-top: 10px;

      .tag {
        margin-right: 10px;
      }

      span:not(.tag) {
        color: $dark-grey50;
        margin-right: 10px;
      }
    }

    &-links {
      margin-top: 20px;

      p {
        margin-top: 10px;

        a {
          color: $purple;
          margin-left: 5px;
        }
      }
    }
  }

  &__content {
    width: 100%;

    &-heading {
      margin-top: 45px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .tag {
        width: 55px;
        margin-left: 10px;
        background-color: $dark-grey;
      }

      span:not(.tag) {
        color: $dark-grey50;
      }
    }

    &-votes-cards {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}
