.bookmark-dao {
  margin-top: 20px;

  .input .input__wrapper {
    width: 100%;

    input {
      width: 100%;
    }
  }

  label {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
