.decentralize-dao {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  > label {
    margin: 15px 0 5px 0;
  }

  &__row {
    display: flex;
    align-items: center;
    min-height: 32px;
    margin: 5px 0;

    &.top-margin {
      margin: 15px 0 0 0;
    }

    .select {
      margin-left: 5px;
      flex: 1;
      display: flex;

      select {
        flex: 1;
      }
    }
  }

  &__col {
    display: flex;
    flex: 1;
    align-items: stretch;
    flex-direction: column;

    &:first-child {
      margin-right: 20px;
    }

    &-wrap {
      display: flex;
      align-items: center;
      flex: 1;

      &.sp-between > div {
        width: 33%;
      }

      label {
        white-space: nowrap;
        margin-right: 10px;
      }

      button {
        margin-left: 10px;

        &.mg-left {
          margin-left: auto;
        }
      }
    }

    > label:not(.no-margin) {
      margin: 15px 0 5px 0;
    }
  }

  h2 {
    margin: 50px 0 20px 0;
  }

  > .btn {
    align-self: flex-start;
    margin-top: 20px;
  }
}
