@import "src/variables";

.table-wrapper {
  padding: 20px;

  .table {
    border-collapse: collapse;
    border: none;
    color: $dark-grey;
    width: 100%;

    tr {
      border-bottom: 1px solid $dark-grey25;
    }

    th {
      text-align: left;
      padding: 5px 0;
      color: $dark-grey50;
      font-weight: normal;
    }

    td {
      padding: 10px 0;
    }

    thead > tr {
      border: none;
    }

    // Add spacing between table's heading and body
    tbody::before {
      content: "@";
      display: block;
      line-height: 30px;
      text-indent: -99999px;
    }

    svg {
      width: 20px;
      height: 20px;

      &:hover {
        cursor: pointer;
      }
    }

    &__remove-icon {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &__no-data {
      color: $dark-grey50;

      td {
        text-align: center;
      }
    }
  }
}
