@import "src/assets/styles/variables";

.create-custom-domain {
  label,
  button,
  p {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .input {
    &__field {
      margin-top: 10px;
      width: 100%;
    }
  }
}
