@import "src/variables";

.profile {
  display: flex;
  padding: 135px 0;
  position: relative;

  &__photo {
    position: absolute;
    left: 40px;
    top: -75px;
    z-index: 2;
    border-radius: 50%;
    border: 1px solid white;
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $light-grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info {
    flex: 1;
    min-width: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 40px;

    p {
      margin: 5px 0;
    }

    h2 {
      margin: 0 0 20px 0;
      line-height: 28px;
    }

    > a {
      color: $purple2;
      padding-bottom: 20px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-top: 5px;

    svg {
      margin-right: 5px;
    }
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    padding: 0 20px 0 10px;
    margin-bottom: 10px;
  }

  &__search {
    position: relative;

    svg {
      position: absolute;
      right: 5px;
      top: 8px;
    }
  }

  &__edit-menu {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $black;
    padding-top: 35px;
    margin-top: 35px;

    a {
      color: $purple1;
      margin: 5px 0;

      &:hover {
        color: $purple2;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  &__edit-buttons {
    margin: 0 0 30px 10px;

    > button {
      margin-right: 10px;
    }
  }
}
