@import "src/variables";

.image-upload {
  align-self: flex-start;
  cursor: pointer;

  button {
    margin: 10px 0;
    cursor: pointer;

    * {
      cursor: pointer;
    }
  }

  input {
    display: none;
  }

  &__preview {
    height: 100px;
    border: 1px dashed $dark-grey;
    max-width: 213px;
    margin-top: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    color: $dark-grey;

    &--empty {
      min-width: 213px;
      align-items: center;
      justify-content: center;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
  }

  &.drag-over .image-upload__preview {
    border-color: $purple75;
    color: $purple75;
  }
}
