@import "../../../../assets/styles/variables.scss";

.deploy-seele {
  width: 880px;
  display: flex;

  &__voting-strategies,
  &__bundle-transactions {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

    h2 {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__voting-strategies {
    width: 619px;
  }

  &__bundle-transactions {
    width: 260px;
    flex-flow: column;

    .btn {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__selected-voting-strategy {
    &-row {
      display: flex;
      width: 180px;
      margin-top: 20px;
    }

    &-icon {
      width: 20px;
      margin-right: 10px;
    }
  }

  &__warning-message {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
    }
  }

  &__step-description {
    color: $dark-grey50;
  }

  &__step-content {
    padding: 40px;
    max-width: 880px;
    margin-top: 20px;
  }

  &__voting-strategy-row {
    display: flex;

    .voting-strategy-card {
      width: 180px;
      height: 240px;
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
      perspective: 1000px;

      &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      }

      &__front,
      &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }

      &__back {
        transform: rotateY(180deg);
        padding: 5px;
        font-size: 14px;
      }

      &.disabled {
        &:hover {
          cursor: not-allowed;
        }

        .voting-strategy-card__back {
          background-color: $light-grey;
        }
      }

      &:hover {
        cursor: pointer;

        .voting-strategy-card__inner {
          transform: rotateY(180deg);
          border: 1px solid $dark-grey25;
          border-radius: 5px;
        }
      }

      &:first-of-type {
        margin-left: 0;
      }

      &__warning-message {
        display: flex;
        align-items: center;
        height: 100%;

        svg {
          width: 42px;
          margin-right: 10px;
        }
      }
    }
  }

  .voting-strategy-form {
    h2 {
      margin-top: 50px;
      font-size: 24px;
    }

    h3 {
      margin-top: 10px;
      font-size: 20px;
      color: $dark-grey;
    }

    &__row {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      label {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }

    &__col {
      display: flex;
      flex-wrap: wrap;
      width: calc(50% - 10px);
    }

    .input {
      width: 100%;

      input {
        width: 100%;
      }
    }

    .btn {
      margin-top: 20px;
    }

    .divider {
      margin-top: 20px;
    }

    &__warning-message {
      margin-top: 20px;
      flex-wrap: nowrap;
    }

    &__warning-icon {
      margin-right: 10px;
    }
  }
}
