.create-erc20-token {
  flex: 1;
  display: flex;
  flex-direction: column;

  .input {
    margin-top: 10px;
    width: 100%;

    input {
      width: 100%;
    }
  }

  label {
    margin-top: 20px;
  }

  > .btn {
    align-self: flex-start;
    margin-top: 20px;
  }
}
