@import "src/assets/styles/variables";

.dao {
  display: flex;
  padding: 95px 0 100px 0;

  &__photo {
    height: 275px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $dark-grey50;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left-section {
    flex: 1;
    min-width: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin: -232px 40px 0 40px;
    align-items: stretch;

    p,
    a {
      margin: 5px 0;
    }

    h2 {
      margin: 20px 0;
      line-height: 28px;
    }
  }

  &__info {
    border-left: 1px solid $dark-grey50;
    border-right: 1px solid $dark-grey50;
    border-bottom: 1px solid $dark-grey50;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;

    .btn {
      align-self: stretch;
      margin: 15px 0 5px 0;

      &:last-child {
        margin: 5px 0 0 0;
      }
    }

    > a {
      color: $purple75;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    margin: 15px 0;

    > a {
      margin: 0 5px 0 0;
      display: block;
      height: 25px;
    }
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;

    > h2 {
      margin: 20px 0;
    }

    > p {
      margin: 10px 0;
    }
  }

  &__summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 20px 0;
      }

      h2 {
        color: $purple;
        margin: 20px 0;
      }
    }
  }

  &__separator {
    height: 1px;
    background-color: $dark-grey;
    align-self: stretch;
  }

  &__params {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $dark-grey;
    padding: 20px 40px;
  }

  &__param {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 18px;
    }
  }
}
