@import "src/variables";

.tag {
  width: 105px;
  height: 30px;
  border-radius: 5px;
  color: $white;

  &--active {
    background-color: $info;
  }

  &--pending {
    color: $info;
    border: 1px solid $info;
  }

  &--queued,
  &--executing {
    color: $success;
    border: 1px solid $success;
  }

  &--executed {
    background-color: $success;
  }

  &--failed {
    background-color: $error;
  }

  &--canceled {
    background-color: $dark-grey75;
  }
}
