.confirmation-modal {
  &__title {
    margin: 50px 0 20px 0;
  }

  &__text {
    white-space: pre-wrap;
  }

  .modal-footer {
    margin-top: 15px;
    border-top: 1px solid #CBCBCC;
    padding: 10px 0;

    & > * + * {
      margin-top: 10px;
    }

    .footer-note {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;
    }
  }
}
