@import "src/variables";

.profile {
  &__add-dao {
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
    }

    &:hover {
      svg {
        path {
          fill: $white;
        }
      }
    }
  }
}

.profile-daos {
  &__table {
    margin-top: 10px;

    .purple {
      color: $purple;

      a {
        color: $purple;
      }
    }

    table {
      width: 100%;
    }
  }

  &__edit {
    background-color: $purple;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}
