@import "src/variables";

.header {
  height: 70px;
  width: 100%;
  background-color: $light-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 0 40px;
  position: fixed;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__connect-button {
    width: 140px;

    &:not(:disabled):hover {
      background-color: $purple75;
      color: $white;
    }
  }

  &__main-nav {
    display: flex;

    .divider {
      margin-right: 20px;
    }
  }

  &__menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 40px;

    > li {
      display: inline;
      list-style: none;
      color: $dark-grey;
      margin: 0 20px;

      &:hover {
        a {
          color: $purple;
          border-bottom: 1px solid $purple;
        }
      }

      &.active {
        color: $purple;
      }
    }
  }

  .dropdown__content {
    background-color: $light-grey;

    .dropdown__trigger {
      &:hover {
        background-color: $light-grey;
      }
    }
  }
}
