.header {
	height: 6.5rem;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

	.wrap {
		position: relative;
		height: 100%;
		max-width: 1450px;
		margin: 0 auto;

		.logo {
			width: 6.0rem;
			position: absolute;
			top: 50%; left: 10px;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			transform: translateY(-50%);

			img {
				display: block;
				width: 100%;
				margin: 0;
			}
		}

		.name {
			position: absolute;
			margin-left: 100px; 
		}

		.navigation {
			position: absolute;
			top: 50%; right: 10px;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			transform: translateY(-50%);

			ul, li {
				margin: 0;
				padding: 0;
			}

			li {
				list-style-type: none; 

				a {
					font-size: 18px;
					line-height: 1;
					color: black;
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}
	}
}