@import "src/variables";

.header {
  height: 70px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  padding: 0 40px;
  font-family: Spectral, 'Open Sans', sans-serif;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__menu {
    position: relative;

    &-button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $purple2;
      border: 1px solid $purple1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      div {
        background-color: white;
        width: 15px;
        height: 2px;
        margin: 2px 0;
      }
    }

    &-dropdown {
      position: absolute;
      background-color: white;
      top: 45px;
      right: 0;
      border: 1px solid $purple1;
      z-index: 2;
    }

    ul {
      margin: 0;
      padding: 20px;
    }

    li {
      list-style-type: none;
      margin: 2px 0;
      white-space: pre;

      a,
      span {
        font-size: 14px;
        line-height: 1;
        color: $black;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}
