@import "src/assets/styles/variables";

.header {
  height: 70px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  padding: 0 40px;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__connect-button {
    width: 140px;
  }

  &__main-nav {
    display: flex;

    .divider {
      margin-right: 20px;
    }
  }

  &__menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 40px;

    > li {
      display: inline;
      list-style: none;
      color: $dark-grey;
      margin: 0 20px;

      &:hover {
        a {
          color: $purple;
          border-bottom: 1px solid $purple;
        }
      }

      &.active {
        color: $purple;
      }
    }
  }
}
