@import "src/assets/styles/variables";

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 -20px 0 -10px;

  &__item {
    width: 280px;
    height: 260px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 3px 5px rgba($dark-grey50, 0.2);
    $self: &;

    &:hover {
      #{$self}-delete {
        display: block;
      }
    }

    &-thumb {
      display: block;
      width: 100%;

      img,
      video {
        display: block;
        width: 100%;
        margin: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    &-delete {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5px;
      right: 5px;
      display: none;
    }
  }

  &__details {
    padding: 10px;

    &-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      color: $dark-grey;
    }
  }
}
