@import "src/assets/styles/variables";

.input {
  &__field {
    font-family: Karla, 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid $black;

    &--bordered {
      border: 1px solid $black;
    }

    &--bad {
      border-color: $error;
    }
  }

  &__validation {
    color: $error;
  }
}
