@import "src/variables";

.input {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
  }

  &__field {
    font-family: Karla, 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid $dark-grey25;
    background-color: transparent;
    flex: 1;

    &::placeholder {
      color: $dark-grey25;
    }

    &:disabled {
      background-color: $light-grey;
      cursor: not-allowed;
    }

    &--bordered {
      border: 1px solid $dark-grey25;
      border-radius: 5px;
      background-color: white;
    }

    &--bad {
      border-color: $error;
    }
  }

  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  &__custom-number {
    &-arrows {
      flex-direction: column;
      position: absolute;
      right: 10px;
      top: 7px;
      display: flex;
    }

    &-arrow {
      width: 20px;
      height: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-of-type {
        margin-bottom: 7px;
      }

      svg {
        cursor: pointer;
      }
    }
  }

  &__static-placeholder {
    padding: 6px;
    color: white;
    background-color: $dark-grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;

    & + .input__field {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      flex: 1;
    }
  }

  &__validation {
    color: $error;
  }
}

.search-input {
  position: relative;

  /* stylelint-disable -- Stylelint wants this svg selector to come before custom number arrows
  * which then conflicts with order of input and search-input
  * the solution could be extracting those styles to separate file, but disabling seems more reasonable
  */
  svg {
    position: absolute;
    top: 10px;
    left: 0;
  }
  /* stylelint-enable */

  .input {
    &__field {
      width: 280px;
      padding-left: 25px;
    }
  }
}
