@import "src/assets/styles/variables";

.footer {
  height: 240px;
  background-color: $dark-grey;
  align-self: stretch;
  color: white;
  width: 100%;

  a,
  p,
  h3 {
    color: white;
  }

  &__wrap {
    width: 1250px;
    padding: 60px 0 20px 0;
    display: flex;
    margin: 0 auto;
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-top: 5px;

    svg {
      margin-right: 10px;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 0 40px;

    &:first-child {
      margin-right: auto;

      svg {
        margin-bottom: 20px;
      }
    }

    h3 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    a {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
