.expand-dao {
  &__header {
    h2 {
      margin-top: 45px;
      margin-bottom: 20px;
    }

    p {
      white-space: pre-line;
    }
  }

  &__content {
    margin-top: 40px;
  }

  &__modules {
    position: relative;

    &-gnosis-safe {
      display: flex;
      justify-content: center;
    }

    &-connectable {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: -60px;
    }

    &-usul {
      display: flex;
      width: 200px;
      height: 200px;
      margin-right: 200px; // TODO: remove this margin once Bridge module is added
      background-image: url("../../../assets/icons/usul-default.svg");

      h2 {
        display: flex;
        align-self: flex-end;
        margin: 0 auto;
      }

      &:hover {
        background-image: url("../../../assets/icons/usul-hover.svg");
        cursor: pointer;
      }

      &--deployed {
        background-image: url("../../../assets/icons/usul-deployed.svg");

        &:hover {
          cursor: not-allowed;
          background-image: url("../../../assets/icons/usul-deployed.svg");
        }
      }
    }
  }
}
