@import "../../../assets/styles/variables.scss";

.expand-dao {
  &__header {
    h2 {
      margin-top: 45px;
      margin-bottom: 20px;
    }
  }

  &__content {
    margin-top: 40px;
  }

  &__modules {
    position: relative;

    &-gnosis-safe {
      display: flex;
      justify-content: center;
    }

    &-connectable {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: -60px;
    }

    &-seele {
      width: 200px;
      height: 200px;
      margin-right: 200px; // TODO: remove this margin once Bridge module is added
      background-image: url("../../../assets//icons/seele-default.svg");

      &:hover {
        background-image: url("../../../assets//icons/seele-hover.svg");
        cursor: pointer;
      }
    }
  }

  .deploy-seele {
    .divider {
      margin: 20px 0;
    }

    &__step-description {
      color: $dark-grey50;
    }

    &__step-content {
      padding: 40px;
      max-width: 880px;
      margin-top: 20px;
    }

    &__voting-strategy-row {
      display: flex;

      .voting-strategy-card {
        border: 1px solid $dark-grey25;
        width: 250px;
        margin: 20px 10px;
        display: flex;
        flex-wrap: wrap;

        &:first-of-type {
          margin-left: 0;
        }

        h3 {
          margin: 10px;
        }

        p {
          margin: 10px;
        }

        .btn {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          width: 100%;
          display: flex;
          justify-content: center;
          align-self: flex-end;
        }
      }
    }

    &__warning-message {
      &-container {
        display: flex;
        align-items: center;
        margin-top: 20px;
      }

      &-text {
        color: $dark-grey;
        margin-left: 10px;
      }
    }

    &__back-button {
      margin-right: 20px;
    }

    &__next-step-button {
      display: flex;
      justify-content: flex-end;
    }

    &__submit-button {
      margin-top: 20px;
    }
  }
}
