@import "src/assets/styles/variables";

.array-input-container {
    font-family: Karla, 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    border-radius: 0;
    border: 1px solid $black;
}