@import "src/variables";

.nft {
  display: flex;
  margin: 90px 0 100px 0;

  &__left-col {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 40px;

    h3 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: $purple;

      &:first-child {
        margin-bottom: 40px;
      }
    }

    b {
      display: block;
      margin-top: 20px;
    }

    .btn {
      margin-top: 20px;
    }
  }

  &__right-col {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__main {
    display: flex;
  }

  &__image {
    display: flex;
    flex: 1;
    max-width: 590px;

    img,
    video {
      width: 100%;
    }
  }

  &__auction {
    min-width: 250px;
    max-width: 250px;
    margin-left: 40px;

    &-card {
      border: 1px solid $dark-grey50;
      padding: 20px;
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: 20px;
      }

      b {
        display: block;
        margin-top: 20px;
      }
    }
  }

  &__bids {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 880px;

    h2 {
      margin: 40px 0 20px 0;
    }

    table {
      width: 100%;
    }
  }
}
