@import "src/assets/styles/variables";

.table {
  border-collapse: collapse;
  border: none;
  color: $dark-grey;

  tr {
    border-bottom: 1px solid $dark-grey50;
  }

  th {
    font-weight: bold;
    text-align: left;
    padding: 5px 0;
  }

  td {
    padding: 5px 0;
  }

  thead > tr {
    border-top: 2px solid $dark-grey;
    border-bottom: 2px solid $dark-grey;
  }
}
