@import "src/assets/styles/variables";

.table-wrapper {
  padding: 20px;

  .table {
    border-collapse: collapse;
    border: none;
    color: $dark-grey;

    tr {
      border-bottom: 1px solid $dark-grey25;
    }

    th {
      text-align: left;
      padding: 5px 0;
      color: $dark-grey50;
    }

    td {
      padding: 5px 0;
    }

    thead > tr {
      border: none;
    }

    // Add spacing between table's heading and body
    tbody::before {
      content: "@";
      display: block;
      line-height: 30px;
      text-indent: -99999px;
    }
  }
}
