@import "src/variables";

.select {
  label {
    display: block;
    width: 100%;
    text-align: left;
  }

  &__field {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 5px;
    border: 1px solid $black;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }

  &--full-width select {
    width: 100%;
  }
}
