@import "src/assets/styles/variables";

.select {
  &__field {
    font-family: Karla, 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    height: 42px;
  }

  &--full-width {
    width: 100%;
  }
}
