@import "src/variables";

.edit-dao {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 10px;
  }

  > input {
    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
    align-items: center;

    .btn:first-child {
      margin-right: 20px;
    }
  }

  &__url-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    input {
      flex: 1;
    }
  }

  &__url-placeholder {
    padding: 6px;
    color: white;
    background-color: $black;
  }
}
