$dark-grey: #2D3032;
$dark-grey75: #555759;
$dark-grey50: #D2D3D3;
$dark-grey25: #CBCBCC;
$white: #FFFFFF;
$light-grey: #F9F9F9;
$purple: #9615DB;
$purple75: #B050E4;
$purple50: #E5C5F6;
$purple25: #F9F1FD;
$error: #EB5467;
$success: #48CFAE;
$info: #4FC0E8;
$warning: #F6BB43;
