.create-nft {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  &__row {
    display: flex;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
    gap: 20px;

    &.column {
      flex-direction: column;
    }

    &--no-mg {
      margin: 0;
    }

    .select__field {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }

  &__col {
    display: flex;
    flex: 1;
    align-items: stretch;
    flex-direction: column;
  }

  button {
    align-self: flex-start;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  button:not(.no-margin-top):last-child {
    margin-top: 20px;
    margin-bottom: 0;
  }

  p {
    margin: 0 0 10px 0;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .image-upload {
    margin-bottom: 20px;
  }

  .modal-footer {
    margin-top: 15px;
    border-top: 1px solid #CBCBCC;
    padding: 10px 0;

    & > * + * {
      margin-top: 10px;
    }

    .footer-note {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;
    }
  }
}
