.create-nft {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  &__row {
    display: flex;
    align-items: center;
    margin: 5px 0;

    .select {
      margin-left: 5px;
      flex: 1;
      display: flex;

      select {
        flex: 1;
      }
    }
  }

  &__col {
    display: flex;
    flex: 1;
    align-items: stretch;
    flex-direction: column;

    &:first-child {
      margin-right: 20px;
    }
  }

  button {
    align-self: flex-start;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  button:not(.no-margin-top):last-child {
    margin-top: 20px;
    margin-bottom: 0;
  }

  p {
    margin: 0 0 10px 0;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .image-upload {
    margin-bottom: 10px;
  }
}
