.home-page {
  min-height: calc(100vh + 240px);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  .header {
    position: absolute;
    top: 0;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 240px);
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    z-index: -1;
  }

  &__title {
    font-size: 45px;
    line-height: 1.2;
    color: white;
    margin-left: 50px;
  }

  &__buttons {
    margin-left: 50px;
    display: flex;
    align-items: center;

    .btn:first-child {
      margin-right: 10px;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}
