.home-page {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-self: stretch;

  &__link {
    color: white;
    font-size: 20px;
    margin: 20px 0 0 80px;
    text-decoration: underline;
  }

  .header {
    position: absolute;
    top: 0;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 180vh; /* 100 * 16 / 9 */
    min-width: 100%;
    z-index: -1;
  }

  &__title {
    color: white;
    margin-left: 80px;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 20px;
  }

  &__buttons {
    margin-left: 80px;
    display: flex;
    align-items: center;

    .btn:first-child {
      margin-right: 20px;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}
