@import "src/variables";

.dao-proposals {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > h2 {
    margin: 20px 0;
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    input {
      margin-right: auto;
    }

    .select {
      margin-left: 10px;
    }
  }

  &__card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px;
    }

    &-footer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 20px;

      h2 {
        color: $purple2;
      }
    }
  }

  &__voting {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 200px;

    &-legend {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &-bar {
      height: 10px;
      background-color: $dark-grey;
      display: flex;
      align-items: stretch;

      &-inner {
        background-color: $purple2;
      }
    }
  }
}
