@import "src/variables";

.dao-proposals {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 880px;

  > h2 {
    margin: 40px 0;
  }

  &__header {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    padding: 20px;

    &-wrapper {
      margin-top: 20px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
