@import "src/variables";

.btn {
  font-family: Karla, 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid $purple1;

  &:disabled {
    background-color: $dark-grey;
    border-color: $dark-grey;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: $purple2;
    border-color: $purple2;
    color: white;
  }

  &--primary {
    color: white;
    background-color: $purple1;
  }

  &--secondary {
    color: $purple1;
    background-color: white;
  }
}
